### Clean data for NAM y RAP model for the first days

In [24]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, mean_squared_log_error, mean_absolute_error
import numpy as np

In [25]:
index_to_drop = [0,2,3,5,6,8,9]

In [154]:
study_name = '04-Enero-2021-RAP'
file_ = f'comparision data/Comparación Enero/{study_name}'

In [155]:
# NAM model only retreives 10 records per day from 8:00 AM to 18:00 PM so, 
# we clean the data to be consistent with GFS model

df = pd.read_csv(file_)
df

    real_data  forecasted_data
0     2885.11      1608.920384
1    12226.00     18230.344461
2    10057.67     20323.955032
3    29200.33     26985.094211
4    32800.78     42806.451548
5    34168.33     44401.548263
6    33048.88     36621.012497
7    27696.11     36714.473944
8    20801.34     29885.698197
9    11574.11     18189.806438
10     637.45      2936.619773

In [156]:
consistent_data = df.drop(index_to_drop)
consistent_data

    real_data  forecasted_data
1    12226.00     18230.344461
4    32800.78     42806.451548
7    27696.11     36714.473944
10     637.45      2936.619773

In [157]:
consistent_data.to_csv(f'comparision data/Comparación Enero/{study_name}', index=False)

In [158]:
real = consistent_data['real_data']

In [159]:
forecasted = consistent_data['forecasted_data']

In [160]:
MSE = mean_squared_error(forecasted, real)
RMSE = np.sqrt(mean_squared_error(forecasted, real))
MSLE = mean_squared_log_error(forecasted, real)
RMSLE = np.sqrt(mean_squared_log_error(forecasted, real))
MAE = mean_absolute_error(forecasted, real)

In [161]:
metrics_obj = {'MSE': [MSE], 'RMSE':[RMSE], 'MSLE':[MSLE], 'RMSLE':[RMSLE], 'MAE':[MAE]}
metrics_df = pd.DataFrame(metrics_obj)
metrics_df.round(2)

           MSE     RMSE  MSLE  RMSLE      MAE
0  55695671.35  7462.95  0.66   0.81  6831.89

In [162]:
metrics_df.to_csv(f'comparision data/Comparación Enero/{study_name}-Metrics', index=False)