### Clean data for NAM y RAP model for the first days

In [12]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, mean_squared_log_error, mean_absolute_error
import numpy as np

In [10]:
index_to_drop = [0,2,3,5,6,8,9]

In [2]:
jan_04_NAM_file = 'comparision data/Comparación Enero/04-Enero-2021-NAM'

In [3]:
# NAM model only retreives 10 records per day from 8:00 AM to 18:00 PM so, 
# we clean the data to be consistent with GFS model

df = pd.read_csv(jan_04_NAM_file)
df

    real_data  forecasted_data
0     1862.33      2209.472598
1    15694.55     19482.849001
2    25180.89     31966.394019
3    31500.77     40289.373045
4    34858.23     45301.797581
5    34439.78     46901.165142
6    31555.45     44779.017095
7    27938.45     38468.596208
8    21174.89     29288.921374
9     6826.89     16902.794493
10     733.11      1146.196858

In [5]:
consistent_data = df.drop(index_to_drop)
consistent_data

    real_data  forecasted_data
1    15694.55     19482.849001
4    34858.23     45301.797581
7    27938.45     38468.596208
10     733.11      1146.196858

In [7]:
comparision = consistent_data.to_csv('comparision data/Comparación Enero/04-Enero-2021-NAM.csv', index=False)

In [ ]:
real = comparision['real_data']
real

In [ ]:
forecasted = comparision['forecasted_data']
forecasted

In [ ]:
print("MSE:"+str(mean_squared_error(forecasted, real)))
print("RMSE:"+str(np.sqrt(mean_squared_error(forecasted, real))))
print("MSLE:"+str(mean_squared_log_error(forecasted, real)))
print("RMSLE:"+str(np.sqrt(mean_squared_log_error(forecasted, real))))
print("MAE:"+str(mean_absolute_error(forecasted, real)))

In [ ]:
MSE = mean_squared_error(forecasted, real)
RMSE = np.sqrt(mean_squared_error(forecasted, real))
MSLE = mean_squared_log_error(forecasted, real)
RMSLE = np.sqrt(mean_squared_log_error(forecasted, real))
MAE = mean_absolute_error(forecasted, real)

In [ ]:
metrics_obj = {'MSE': [MSE], 'RMSE':[RMSE], 'MSLE':[MSLE], 'RMSLE':[RMSLE], 'MAE':[MAE]}
metrics_df = pd.DataFrame(metrics_obj)
metrics_df

In [8]:
jan_05_NAM_file = 'comparision data/Comparación Enero/05-Enero-2021-NAM'

In [9]:
df = pd.read_csv(jan_05_NAM_file)
df

    real_data  forecasted_data
0     1851.77      2121.628208
1    14834.23     19342.845041
2    23633.56     31854.273902
3    29504.89     40244.308958
4    33621.44     45027.390034
5    34818.67     46638.762029
6    32420.78     44576.036156
7    28274.22     38344.304734
8    21071.66     29412.840570
9     6730.77     16988.309337
10     913.67      1209.750860

In [ ]:
consistent_data = df.drop(index_to_drop)
consistent_data