### Clean data for NAM y RAP model for the first days

In [24]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, mean_squared_log_error, mean_absolute_error
import numpy as np

In [25]:
index_to_drop = [0,2,3,5,6,8,9]

In [284]:
study_name = '17-Enero-2021-RAP'
file_ = f'comparision data/Comparación Enero/{study_name}'

In [285]:
# NAM model only retreives 10 records per day from 8:00 AM to 18:00 PM so, 
# we clean the data to be consistent with GFS model

df = pd.read_csv(file_)
df

    real_data  forecasted_data
0     2885.11       503.711295
1    12226.00      4117.220474
2    10057.67      7856.959384
3    29200.33     10927.826560
4    32800.78     12879.551432
5    34168.33     13624.181573
6    33048.88     13056.939134
7    27696.11     17729.375509
8    20801.34     29019.024105
9    11574.11     18395.982132
10     637.45      2987.798941

In [286]:
consistent_data = df.drop(index_to_drop)
consistent_data

    real_data  forecasted_data
1    12226.00      4117.220474
4    32800.78     12879.551432
7    27696.11     17729.375509
10     637.45      2987.798941

In [287]:
consistent_data.to_csv(f'comparision data/Comparación Enero/{study_name}', index=False)

In [288]:
real = consistent_data['real_data']

In [289]:
forecasted = consistent_data['forecasted_data']

In [290]:
MSE = mean_squared_error(forecasted, real)
RMSE = np.sqrt(mean_squared_error(forecasted, real))
MSLE = mean_squared_log_error(forecasted, real)
RMSLE = np.sqrt(mean_squared_log_error(forecasted, real))
MAE = mean_absolute_error(forecasted, real)

In [291]:
metrics_obj = {'MSE': [MSE], 'RMSE':[RMSE], 'MSLE':[MSLE], 'RMSLE':[RMSLE], 'MAE':[MAE]}
metrics_df = pd.DataFrame(metrics_obj)
metrics_df.round(2)

           MSE      RMSE  MSLE  RMSLE       MAE
0  141866897.4  11910.79  1.16   1.08  10086.77

In [292]:
metrics_df.to_csv(f'comparision data/Comparación Enero/{study_name}-Metrics', index=False)