### Clean data for NAM y RAP model for the first days

In [24]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, mean_squared_log_error, mean_absolute_error
import numpy as np

In [25]:
index_to_drop = [0,2,3,5,6,8,9]

In [26]:
study_name = '04-Enero-2021-NAM'
jan_04_NAM_file = f'comparision data/Comparación Enero/{study_name}'

In [27]:
# NAM model only retreives 10 records per day from 8:00 AM to 18:00 PM so, 
# we clean the data to be consistent with GFS model

df = pd.read_csv(jan_04_NAM_file)
df

    real_data  forecasted_data
0     1862.33      2209.472598
1    15694.55     19482.849001
2    25180.89     31966.394019
3    31500.77     40289.373045
4    34858.23     45301.797581
5    34439.78     46901.165142
6    31555.45     44779.017095
7    27938.45     38468.596208
8    21174.89     29288.921374
9     6826.89     16902.794493
10     733.11      1146.196858

In [28]:
consistent_data = df.drop(index_to_drop)
consistent_data

    real_data  forecasted_data
1    15694.55     19482.849001
4    34858.23     45301.797581
7    27938.45     38468.596208
10     733.11      1146.196858

In [34]:
comparision = consistent_data.to_csv(f'comparision data/Comparación Enero/{study_name}', index=False)
consistent_data

    real_data  forecasted_data
1    15694.55     19482.849001
4    34858.23     45301.797581
7    27938.45     38468.596208
10     733.11      1146.196858

In [35]:
real = consistent_data['real_data']

In [36]:
forecasted = consistent_data['forecasted_data']

In [37]:
MSE = mean_squared_error(forecasted, real)
RMSE = np.sqrt(mean_squared_error(forecasted, real))
MSLE = mean_squared_log_error(forecasted, real)
RMSLE = np.sqrt(mean_squared_log_error(forecasted, real))
MAE = mean_absolute_error(forecasted, real)

In [41]:
metrics_obj = {'MSE': [MSE], 'RMSE':[RMSE], 'MSLE':[MSLE], 'RMSLE':[RMSLE], 'MAE':[MAE]}
metrics_df = pd.DataFrame(metrics_obj)
metrics_df.round(2)

           MSE     RMSE  MSLE  RMSLE      MAE
0  58618483.26  7656.27   0.1   0.32  6293.77

In [43]:
metrics_df.to_csv(f'comparision data/Comparación Enero/{study_name}-Metrics', index=False)